.mainContent {
    display: flex;
    flex-direction: row;

    @media (max-width: 1279px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.LineScrolling {
    position: relative;
    padding-left: 95px;

    @media (max-width: 1279px) {
        display: none;
    }
}

.actuallyCat {
    position: absolute;
    left: 50px;
    top: -82px;
    width: 300px;
}

.homePage {
    padding-left: 200px;
    padding-right: 425px;

    @media (max-width: 1279px) {
        width: 100%;
        padding-left: clamp(1rem, 4vw, 2rem);
        padding-right: clamp(1rem, 4vw, 2rem);
        box-sizing: border-box;
    }
}

.homeScroller {
    color: #686868;
    font-size: 18px;

    max-height: 250px;
    overflow-y: scroll;

    overflow-x: hidden;
}

.SvgSplash {
    position: absolute;
    width: 100vw;
    top: 500px;
    left: 0;

    z-index: 2;
}

.CatGirl {
    position: absolute;
    top: 370px;
    left: 78vw;

    z-index: 1;
}

.SpacerSvgSplash {
    padding-top: 75vh;

    @media (max-width: 811px) {
        padding-top: 6vh;
    }
}

.wrapperArtistNyasso {
    position: relative;

    padding-top: 300px;
}

.artistNyasso {
    position: absolute;

    top: -51px;
    right: -350px;

    @media (max-width: 1238px) {
        top: -17px;
        right: 23px;

        width: 50vmin;
    }

    @media (max-width: 900px) {
        top: 7px;
        right: -9px;
        
        width: 30vmin;
    }

}