footer {
    position: relative;

    overflow-y: hidden;
    padding-top: 50px;
    
}

.footerSVG {
    overflow: hidden;
    margin-bottom: -10px;

    height: 400px;

    @media (max-width: 900px) {
        height: 550px;
    }    
}

footer svg {
    padding-top: 10px;
}

.standNyasso {
    position: absolute;

    left: 33px;
    top: 10px;
    width: 20vw;

    @media (max-width: 502px) {
        width: 40vw;
    }

    @media (max-width: 900px) {
        left: 40px;
        top: 124px;
        width: 40vw;
    }   
}

.footer-nav {
    position: absolute;
    width: 100%;
    bottom: 0;

    display: flex;
    flex-direction: column;

    align-content: flex-end;

    align-items: center;
    
}

.nav, .nav-2 {

    color: white;

    display: flex;
    align-items: center;

    :global {
        a {
            text-decoration: none;
        }
    }

    a {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-tagline {
        font-family: "Concert One", sans-serif;
        font-weight: 400;
        font-style: normal;

        font-size: 25px;

        padding: 5px;

        color: #FFFFFF;
        
        &:hover {
            color: #b6b6b6;

            filter: drop-shadow(0 0 5px #b6b6b6);
        }

        margin-left: auto;
    }

}

.nav-2 {
    padding: 10px;
}

.footer-tagline-right {
    margin-left: auto;

    padding-top: 10px;
    padding-right: 15px;

    color: white;

    a {
        color: #1a3a36;
    }
}

.footer-social-icons {
    //background: rgba(255, 255, 255, 0.29);
    border-radius: 25px;
    padding: 8px;

    margin-bottom: 10px;

    @media (max-width: 900px) {
        margin: 10px;
        padding: 4px;
    }
}



.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;

    margin: 5px;
    padding: 0;

    @media (max-width: 1305px) {
        position: unset;
        
        //background: red;
        flex-wrap: wrap;
    }

    @media (max-width: 576px) {
        position: unset;

        //background: green;
        flex-wrap: wrap;
    }

}

.social-icon a {
    text-decoration: none;
    //background: white;
    //border-radius: 5px;

    display: flex;

    width: 50px;
    height: 50px;
    
    transition: 0.3s;


    &:hover {
      transform: translateY(-3px) rotate(3deg);
      cursor: pointer;


      svg {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
      }

    }

    &:active svg{
      transform: scale(0.9);
    }


    svg {
      transition: 0.2s;
      margin: auto;
      color:rgb(240, 240, 240);

      margin-top: 0;
    }

    margin: 5px;
}

.social-icon-blue {
  .social-icon a {
    svg {
      color: #2DBFB2;
      transition: 0.2s;
    }

    svg:hover {
      filter: drop-shadow(0 0 5px rgba(45, 191, 179, 0.5));
    }
  }
}