.swiper {
    width: 50vw;
    height: 30vw;
  
    border: 7px solid #ED5E24;
    border-radius: 15px;
}

.swiper-pagination-bullet {
  width: 1vw;
  height: 1vw;
  text-align: center;
  
  line-height: 1.35;
  font-size: 0.85rem;
  opacity: 1;
  background: #D9D9D9;
  color: #171717;
  border-radius: 999px;
  display: inline-block;
  margin-bottom: 0.75rem;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #ED5E24;
}



.swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
    right: -25px;
    transform: translate3d(0px, 30%, 0)
}

.swiper-row {
    display: flex;
    flex-direction: row;
}

.custom-pagination {
    padding-right: 15px;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #ED5E24;
  /*border-radius: 12px;*/
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  font-size: 1.25rem;
  text-align: center;
  padding: 1rem;

  @media (max-width: 811px) {
      padding: 0;
  }

}

.carousel-slide--image {
  padding: 0;
}

.carousel-slide--image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-slide--text span {
  display: block;
  max-width: 90%;
  font-weight: 600;
  line-height: 1.4;
}
